@keyframes onAndOff {
  from{
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(1400px)
  }
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
  
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  color: white;
}

header{
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}
.star{
  position: absolute;
  background-color: white;
}

img{
  padding-top: 5%;
  padding-inline-start: 2%;
  padding-bottom: 0%;
  width: 10%;
  float: right;
  overflow: hidden;
  
}

.planets{
  animation-name: onAndOff;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}


.saturn{
  width: 130%;
  
  
}

.pluto{
  padding-top: 5%;
  text-align: center;
  display: block;
  width: 50%;
}


.photo{
  border-top: 2px solid white;
  padding: 0%;
  width: 600px;
  height: 500px;
  float: none;
  margin: auto;
  border: 5px solid white;
  border-image: fill;
  margin-bottom: 2rem;
  
  
  
}


.pTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0%;
  
}

 .descr{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0%;
  color: white;
  border: solid white 1px;
  border-left: #93005a;
}

p{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 3%;

}

.page-wrap{
  overflow-x: hidden;
}
